*{
    padding: 0;
    margin: 0;
    // font-family: 'Digitalt', sans-serif;
    color: #fff;
}

body{
    background-color: black;
}

button{
    all:unset
}

input{
    all:unset
}

@font-face {
    font-family: "Digitalt";
    src: url('../fonts/Digitalt.ttf');
    font-weight: normal;
    font-style: normal;
  }