.logoContainer{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.loadingText{
    font: 1.5rem Digitalt, sans-s;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
   justify-content: center;
}