.tagLine{
    color: #FFF;
font-family: sans-serif;
font-size: 10px;
font-style: normal;
line-height: normal;
letter-spacing: 0.8px;
padding: 40px;
width: 100%;
margin-left: 30px;
// text-align: center;
}

.welcome{
    background: radial-gradient(50% 50.00% at 50% 50.00%, #A301F0 12.50%, rgba(31, 28, 32, 0.00) 100%);
    color: #FFF;
    font-family: digitalt;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    padding: 40px;
    text-align: center;
    width: 100%;
}

.nameInput{
    background: transparent;
    text-align: center;
    border: #FFF solid 2px;
    margin: 25px;
}

.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    button{
        border-radius: 4px;
        background: linear-gradient(180deg, rgba(163, 1, 240, 0.20) 93.75%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
        padding: 20px;
        margin: 15px;
        margin-top: 25px;
        font-family: digitalt;
        cursor: pointer;
        width: 75px;
        text-align: center;
    }   

}

.footer{
    bottom: 5px;
}

.backDrop{
    filter:blur(5px)
}

